body {
	background-color: #fef7ff;
	overflow-x: hidden;
}

#header .header-body {
	border: none;
	background-color: #fef7ff;
}

#header .header-nav-top {
	float: left;
}

#header .header-nav-top .nav > li > a, #header .header-nav-top .nav > li > span {
	color: #941377; 	
}

.slider-container {
	height: 1000px;
}

.home-intro .get-started {
	text-align: center !important;
}

.home-intro p {
	text-align: center !important;
}

.maji-counter {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #fde7fc;
	border-top: 5px solid #ffdefe;
	border-bottom: 5px solid #ffdefe;
}

.counters label {
	color: #941377;
	font-weight: 500;
}

html .counters .counter-primary .fa, html .counters .counter-primary .icons, html .counters .counter-primary strong {
	color: #0088CC;
}

.raffle {
	text-align: center;
	padding-top: 20px;
}

.raffle h4 span {
	color: #f9b711;
	font-weight: 700;
    font-size: 1.6em;
}

.raffle h2 {
	font-weight: 600 !important;
}

#ptext {
	padding-top: 30px;
}

#ptext p {
	color: #941377;
	font-size: 1.2em;
}

#ptext span {
	font-weight: 700;
}

.purse {
	padding-top: 33px;
}

.date {
	color: #941377;
	font-weight: 700;
}

.raffle img {
	padding-bottom: 20px;
}

.raffle p {
	color: #941377;
}

.raffleround img {
	border-radius: 50%;
	padding-bottom: 0;
	border: 2px solid #f9b711;
}

.testemonials {
	margin-bottom: 0 !important;
	background-color: #fde7fc !important;
	border-top-color: #ffdefe !important;
}

.testimonial.testimonial-with-quotes blockquote:before {
	color: #941377;
}

.testimonial.testimonial-with-quotes blockquote:after {
	color: #941377;
}

.testimonial.testimonial-style-5 blockquote p {
	color: #9f576b;
}

.testimonial .testimonial-author span {
	color: #9f576b;
}


.owl-carousel.rounded-nav .owl-nav [class*="owl-"], .owl-carousel.rounded-nav .owl-nav [class*="owl-"]:hover {	
	border: 1px solid #a5526e !important;
	color: #f9b711 !important;
}

#footer {
	margin-top: 0;
}

#footer a {
	color: #941377;
}

.business-hours ul {
	list-style-type: none;
	padding-left: 0;
}

.business-hours ul li {
	margin-bottom: 10px;
}

.newsletter a {
	color: #fff !important;
}

.footer-copyright {
	text-align: center;
}

.footer-copyright img {
	margin: auto;
}

@media (max-width: 992px) {
  .hidden-xs {
    display: none !important;
  }
}

.noborder {
	border: 0 !important;
}

.featured-box {
	margin-right: 20px !important;
	margin-left: 20px !important;
}