body {
	background-color: #fef7ff;
}

#header .header-body {
	border: none;
	background-color: #fef7ff;
}

#header .header-nav-top {
	float: left;
}

#header .header-nav-top .nav > li > a, #header .header-nav-top .nav > li > span {
	color: #941377; 	
}