body {
	background-color: #fef7ff;
}

#header .header-body {
	border: none;
	background-color: #fef7ff;
}

#header .header-nav-top {
	float: left;
}

#header .header-nav-top .nav > li > a, #header .header-nav-top .nav > li > span {
	color: #941377; 	
}

.slider-container {
	height: 1000px;
}

.maji-counter {
	padding-top: 40px;
	padding-bottom: 40px;
}

.counters label {
	color: #941377;
	font-weight: 500;
}

html .counters .counter-primary .fa, html .counters .counter-primary .icons, html .counters .counter-primary strong {
	color: #0088CC;
}

.raffle {
	text-align: center;
	padding-top: 40px;
}
